.rise__rmitbuildings{
    display: flex;
}

.rise__rmitbuildings-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}

.rise__rmitbuildings-image{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.rise__rmitbuildings-content h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */
    margin: 0 7rem;
    text-align: center;

}

.rise__rmitbuildings-content p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 1000;
    font-size: 22px;
    line-height: 30px;
    /* or 136% */
    margin: 3rem 0;
    text-align: justify;
}

.rise__rmitbuildings-content hr {
    background: #FF5E46 ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    border: 5px solid #FF5E46;  
    width: 20%;
}


