.rise__gamestory{
    display: flex;
}

.rise__gamestory_image img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x:hidden ;

}

.rise__gamestory_header{
    margin: 9rem 4rem;
}

.rise__gamestory_header h3{
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    justify-content: center;
    color: #FFFFFF;
    margin: 1rem 0;
}

.rise__gamestory_header p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    /* or 136% */

    text-align: justify;

    color: #FFFFFF;
}

@media (max-width:1000px) {
    .rise__gamestory_image img{
        margin-top: 6rem;
    }
    .rise__gamestory{
        display: flex;
        flex-direction: column;
    }
    .rise__gamestory_header p{
        font-size: 18px;
    }
}

@media (max-width:800px) {
    .rise__gamestory_image img{
        width: 400px;
        margin-top: 0.5rem;       
    }
    .rise__gamestory_header{
        margin: 1rem;
        font-size: 30px;
    }
}
