.rise__display{
    display: flex;
    justify-content: center;
}

.rise__display_buildings{
    margin: 0 6rem;
    height: 70%;
}


.rise__display_building{
    height: 40%;
}

.rise_display_building_img img{
    top: 150px;
    position: relative;
    height:320px;
    width: 450px;
}


.rise__display_modal1 img{
    height:500px;
    bottom: 90px;
    position: relative;
}

.rise__display_buildinginfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.building1st{
    bottom:150px;
}


#seebtn{
    background: #FF5E46;
    border-radius: 5px;
    width: 183px;
    height: 53px;
    border: none;
    position: relative ;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

#seebtn:hover{
    background:transparent ;
    color: #FF5E46;
    
}

#seebtn::before, #seebtn::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box ;
    transition: top 0.5s, left 0.5s;
    

}
#seebtn::before{
    border-left:2px solid #FF5E46  ;
    border-top:2px solid #FF5E46  ;
    border-radius: 5px;
}
#seebtn::after{
    border-right:2px solid #FF5E46  ;
    border-bottom:2px solid #FF5E46  ;
    border-radius: 5px;
}

#seebtn:hover::before{
    top:-5px;
    left: -15px;
}
#seebtn:hover::after{
    top: 5px;
    left: 15px;
}

.rise__display_buildinginfo h3, h4{
    margin:0.5rem 0;
    font-family: 'Roboto';
}

.rise__display_buildinginfo h3{
    font-weight: bolder;
    font-size: 23px;
    line-height: 27px;
}

.modalBackground{
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(0, 0, 0, 0.5);
   opacity: 3;
   padding-top: 5%;
   
}

.modalContainer{
    width:70%;
    background-color: #FFFFFF;
    margin: auto;
    animation: droptop 0.5s linear;
    max-height: 80vh; 
    overflow-y: auto;
    font-family: 'Roboto' ;
    font-style: normal;
    position: relative;
    
}

@keyframes droptop{
    0%{
        transform: translateY(-100%) scale(0);
        opacity: 0;
    }
    100%{
        transform: translateY(0%) scale(1);
        opacity: 1;
    }

}

.modal-header{
    display: flex !important;
    flex-direction: row;
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    margin-bottom: 1rem;
    border-bottom: #FF5E46 solid 5px;
}

.modal__btn_section{
    display: flex;
    position: absolute;
    right:0;
    top:0;
    margin: 2rem 4rem;
}

#modal_btn{
    border: none;
    background-color: #FFFFFF;
}

#modal_btn:hover span{
    background-color: #FF5E46;
    color: #FFFFFF;
}
#modal_btn span{
    display: flex;
    font-size: 20px;
    color: #FF5E46;
    border: 2px solid;
    border-radius: 50%;
    width: 30px;
    height:30px;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.modal_body h3{
    font-weight: 400;
}
.modal_body p{
    font-weight: 400;
    margin: 1rem ;
    text-align: justify;
}

.modal_body li{
    font-weight: 400;
    margin: 1rem ;
    text-align: justify;
}

.modal_footer{
    display: flex;
    justify-content: center;
    align-items: center;  
    font-weight: 500;
    margin-top: 5.5rem;
}
.more_less_section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;


}
#more_less_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #FFFFFF;
    border: none;
    color: #FF5E46;
}


