.rise__display{
    display: flex;
    justify-content: center;
}

.rise__display_buildings{
    margin: 0 6rem;
    height: 70%;
}


.rise__display_building{
    height: 40%;
}

.rise_display_building_img img{
    top: 150px;
    position: relative;
    height:320px;
    width: 450px;
}


.rise__display_modal1 img{
    height:500px;
    bottom: 90px;
    position: relative;
}

.rise__display_buildinginfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.building1st{
    bottom:150px;
}


#seebtn{
    background: #FF5E46;
    border-radius: 20px;
    width: 183px;
    height: 53px;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

.rise__display_buildinginfo h3, h4{
    margin:0.5rem 0;
    font-family: 'Roboto';
}

.rise__display_buildinginfo h3{
    font-weight: bolder;
    font-size: 23px;
    line-height: 27px;
}

.modalBackground{
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(0, 0, 0, 0.5);
   opacity: 3;
   padding-top: 15%;
}

.modalContainer{
    width:70%;
    height: 70%;
    background-color: #FFFFFF;
    margin: auto;

}
