@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.rise__teaminfo_section{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    
}
.rise__teaminfo_header{
    justify-content: center;
    font-family:'Roboto', sans-serif; 
    font-size: 20px;
    font-weight: 600px;
    margin-top: 2rem ;

    
}

.rise__teaminfo_header hr {
    background: #FF5E46 ;
    margin: 1rem 0rem;
    border: 5px solid #FF5E46;   
}

.rise__teaminfo_paragraph{
    flex: 1;
    justify-content: flex-start;
    margin: 2rem 4rem;

    font-family:'Roboto', sans-serif;
    font-weight: 1000;
    color: black;
    font-size: 22px;
}

.rise__teaminfo_member_section{    
    display: flex;
    justify-content: space-around;  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 27px;  
}
.profile_picture img{
    background-color: #ccd7e2;
    border-radius: 360px;
    height: 300px;
}

.profile_name{
    margin: 1rem 3.6rem;
    font-weight:700;
    
}

.profile_sid{
    margin:0 6rem;
}

.profile_name_ngoc{
    margin: 1rem ;
}

.profile_name_thach{
    margin: 1rem 2rem;
}

.profile_name_quan{
    margin: 1rem 2rem;
}
