@import url('https://fonts.cdnfonts.com/css/bruno-ace');

.rise__header {
    display: flex;
}

.rise__header-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}

.rise__header-content h1{
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04 em;
    font-family: 'Bruno Ace', sans-serif;
    color: white;
}

.rise__header-content p{
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: white;
}

.rise__header-content button{
    background: #ff4820;
    border-radius: 5px;
    /* transform: matrix(-1,0,0,1,0,0); */
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    height: 70px;
    width: 200px;
    color: white;
    margin: 2rem 0;
    cursor: pointer;
    border: none;
}

.rise__header-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.rise__header-image img{
    width: 100%;
    height: 100%;
}

.bold_RMIT{
    color: #ff5e46;
}
