@import url('https://fonts.cdnfonts.com/css/bruno-ace');

.rise_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}
.rise_navbar-links{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    scroll-behavior: smooth;
}
.rise_navbar-links_logo{
    font-family: 'Bruno Ace';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.rise_navbar-links_container{
    display: flex;
    flex-direction: row;
}

.rise_navbar-links_container p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0 4rem;   
    position: relative;
}

.rise_navbar-links_container p::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color:  #ff4820;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);

}

.rise_navbar-links_container p:hover::before,
rise_navbar-links_container p:focus::before{
    transform: scaleX(1);
}

