.rise__gameintro{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.rise__gameintro_header{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    justify-content: center;
    color: #FFFFFF;   
}

.rise__gameintro_header hr{
    border: 5px solid #FF5E46;
    margin: 1rem 0;
}

.rise__gameintro_paragraph{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;

    text-align: center;

    color: #FFFFFF;

    margin: 3rem 0;
}

#gamebtn{
    background: #FF5E46;
    border-radius: 20px;
    width: 183px;
    height: 53px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}