*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    
}

a {
    color: unset;
    text-decoration: none;
}

.section__padding{
    padding: 0.5rem 6rem;
}

.blue__bg{
    background-image: url(././components/images/bluebackground.png);
    background-size: cover;
    /* position: fixed; */
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.rise_navbar-links_logo{
    color: #ff5e46;
}
